<nav class="navbar navbar-dark " style="
background: linear-gradient(90deg, rgba(7,18,40,1) 0%, rgba(9,73,121,1) 60%, rgba(17,102,120,1) 100%);
">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="assets/logo.png" alt="" width="30" height="30"
            class="d-inline-block align-text-right"
             >
            TodoList
          </a>
    </div>
  </nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-light text-center fix-footer">
  <div class="text-center text-white p-2">
    © 2021 Copyright: Luis COV
  </div>
</footer>
